@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CompMalta </h1>
    <p>Hello User! We are a new computer store in malta. We hope you find what you are looking for.</p>
</div>
